*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #162644;
}
#btn-mas{ /* id asociado con el checkbox, oculta el cuadro de check */
    display: none;
}
.container{ /*div contenedor del botón principal y los sub botones*/
    position: fixed;
    bottom: 40px;
    right: 40px;
    /* border-style: solid; */
    
}
 .redes a, .btn-mas label{ /* Vincula las acciones del boton principal, con los botones secundarios */
    display: block; /*Muestra las burbujas de manera vertical*/
    text-decoration: blink; /*Adiciona una linea, encima, debajo o sobre el icono*/
    background: #be2e2e; /*El color de fondo de la burbuja*/
    color: #fff; /*El color del icono*/
    width: 70px; /*Ancho de la burbuja*/
    height: 70px; /*Alto de la burbuja */
    line-height: 66px; /*Posición del icono en referencia a la burbuja */
    
    /* te */
    /*text-transform: none; Modifica el texto a Mayusuculas o Minusculas*/
    overflow: hidden;
    /* white-space: nowrap; */
    text-align: center; /*Justificación del icono dentro de la burbuja */
    border-radius: 50%; /*Forma del contenedor*/
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    /* box-shadow: 1px 1px 1px 1px rgba(148, 26, 26, 0.4);Sombra del contenedor */
    /* transition: all 500ms ease; */
    transition: all 300ms ease; /*Manera como se anima la forma */
    
    
}
.btn-mas label:hover{
    background: #fff; 
    color: #cc2b2b;
    border-color: #be2e2e;
}
.redes a:hover{  /*Manera en que se afecta cuando se pasa el mouse sobre el boton*/
    background: #fff; 
    color: #cc2b2b;
    border-color: #be2e2e;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
.redes p{
    visibility: hidden;
}
.redes p:hover{
    visibility: visible;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: #f44141;
    font-size: 33px;
}
.btn-mas label:hover{
    cursor: pointer;
    background: #ffffff;
    color: #cc2b2b;
    font-size: 33px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(180deg); 
    font-size: 35px;
}
.btn-mas p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
/* .wa-pre::before {
    content: 'Hola';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .3rem;
    font-weight: 700;
    transition: .2s ease;
  }
.wa-pre::after {
    content: 'Presencial';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .3rem;
    font-weight: 700;
    transition: .2s ease;
    opacity: 0;
  }
  .wa-pre:hover:before {
      transform: translate(-50% -50%)scale(3);
      opacity: 0;
  }
  .wa-pre:hover::after {
    transform: translate(-50% -50%)scale(3);
    opacity: 1;
  } */