* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f0;
}

#btn-ppal {
    /* id asociado con el checkbox, oculta el cuadro de check */
    display: none;
}
#btn-wsp {
    /* id asociado con el checkbox de wsp, oculta el cuadro de check */
    display: none;
}
#btn-chat{
    display: none;
}
.container {
    /*div contenedor del botón principal y los sub botones*/
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 150px;
    /* border-style: solid;
    border-color: yellow; */
}
.redes {
    /* border-style: solid;
    border-color: blue; */
    text-align: center; 
}
.wsp {
    display: none;
}
.chat{
    display: none;
    /* border-style: solid;
    border-color: blue;  */
}
.wsp a:hover {
    cursor: pointer;
    background: #fff;
    color: #ffc300;
    border-color: #ffc300;
    /* font-size: 33px; */
}
.chat a:hover {
    cursor: pointer;
    background: #fff;
    color: #ffc300;
    border-color: #ffc300;
    /* font-size: 33px; */
}

#btn-chat:checked~.chat{
    display: block;
}

/* #btn-chat:checked~.wsp{
    display: none;
} */

#btn-wsp:checked~.wsp{
    display: block;
}
/* #btn-wsp:checked~.wsp{
    display: none;
} */

.chat-modalidad-pre{
    transform: translate(-130%, 880%);
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.chat-modalidad-uvd{
    transform: translate(-130%, 940%);
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.modalidad-pre{
    transform: translate(-130%, 380%);
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.modalidad-uvd{
    transform: translate(-130%, 400%);
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#btn-ppal:not(:checked)~.wsp, 
#btn-ppal:not(:checked)~.chat { /*Oculta los botones de whatsapp y chat UVD y Presencial al quitar el check del botón ppal*/
    display: none;
}

.chat a{
    transform: translate(-150%, 350%);
    display: block;
    text-decoration: blink;
    background: #ffc300; /*El color de fondo de la burbuja*/
    color: #fff; /*El color del icono*/
    width: 50px;     /*Ancho de la burbuja*/
    height: 50px;     /*Alto de la burbuja */
    line-height: 49px;    /*Posición del icono en referencia a la burbuja */
    text-align: center;
    font-size: 14px;
    overflow: hidden; 
    border-radius: 50%;    /*Forma del contenedor*/
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms ease; /* transition: all 500ms ease; */
}

.wsp a {
    transform: translate(-150%, 200%);
    display: block;
    text-decoration: blink;
    background: #ffc300; /*El color de fondo de la burbuja*/
    color: #fff; /*El color del icono*/
    width: 50px;     /*Ancho de la burbuja*/
    height: 50px;     /*Alto de la burbuja */
    line-height: 49px;    /*Posición del icono en referencia a la burbuja */
    text-align: center;
    font-size: 14px;
    overflow: hidden; 
    border-radius: 50%;    /*Forma del contenedor*/
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms ease; /* transition: all 500ms ease; */
}

.redes label { /* Vincula las acciones del boton principal, con los botones secundarios */ 
    display: block; /*Muestra las burbujas de manera vertical*/
    text-decoration: blink; /*Adiciona una linea, encima, debajo o sobre el icono*/
    background: #ffc300; /*El color de fondo de la burbuja*/
    color: #fff; /*El color del icono*/
    width: 70px;     /*Ancho de la burbuja*/
    height: 70px;     /*Alto de la burbuja */
    line-height: 66px;    /*Posición del icono en referencia a la burbuja */
    /*text-transform: none; Modifica el texto a Mayusuculas o Minusculas*/
    overflow: hidden;    /* white-space: nowrap; */
    text-align: center;     /*Justificación del icono dentro de la burbuja */
    border-radius: 50%;    /*Forma del contenedor*/
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;    /* box-shadow: 1px 1px 1px 1px rgba(148, 26, 26, 0.4);Sombra del contenedor */
    transition: all 300ms ease; /* transition: all 500ms ease; */
}

.btn-mas label {
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: blink;
    background: #ffc300;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 66px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    transition: all 300ms ease;
    font-size: 33px;
}

.redes label {
    display: block;
    /*Muestra las burbujas de manera vertical*/
    text-decoration: blink;
    /*Adiciona una linea, encima, debajo o sobre el icono*/
    background: #ffc300;
    /*El color de fondo de la burbuja*/
    color: #fff;
    /*El color del icono*/
    width: 65px;
    /*Ancho de la burbuja*/
    height: 65px;
    /*Alto de la burbuja */
    line-height: 63px;
    /*Posición del icono en referencia a la burbuja */
    /* overflow: hidden; */
    text-align: center;
    /*Justificación del icono dentro de la burbuja */
    border-radius: 50%;
    /*Forma del contenedor*/
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    transition: all 400ms ease;
    /*Manera como se anima la forma */
}

.btn-mas {
    text-align: center;
    /* border-color: #be2e2e;
    border-style: solid; */
}
.btn-mas label:hover {
    cursor: pointer;
    background: #fff;
    color: #ffc300;
    border-color: #ffc300;
}

.redes label {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-ppal:checked~.redes label {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.redes label {
    cursor: pointer;
}

.redes label:hover {
    cursor: pointer;
    background: #ffffff;
    color: #ffc300;
    border-color: #ffc300;
    /* font-size: 33px; */
}


/* .btn-mas label {
    cursor: pointer;
    background: #f44141;
    font-size: 33px;
} */

#btn-ppal:checked~.btn-mas label {
    transform: rotate(180deg);
    font-size: 35px;
}

.btn-mas p {
    /* Controla el aviso debajo del botón principal */
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


/* .wa-pre::before {
    content: 'Hola';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .3rem;
    font-weight: 700;
    transition: .2s ease;
  }
.wa-pre::after {
    content: 'Presencial';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .3rem;
    font-weight: 700;
    transition: .2s ease;
    opacity: 0;
  }
  .wa-pre:hover:before {
      transform: translate(-50% -50%)scale(3);
      opacity: 0;
  }
  .wa-pre:hover::after {
    transform: translate(-50% -50%)scale(3);
    opacity: 1;
  } */